<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>WebCampBackendNew</title>
  </head>

<body>
  <h1>ようこそ
   <strong>Bookers</strpng>
  へ！</h1>

<p>
<div class="xxx">
Bookers では、さまざまな書籍に関するあなたの意見や<br/>
</div>

<div class="yyy">
印象を共有し交換することができます
</div>


<div class="zzz">
    <a href="books">start</a>
</div>
</p>
</body>
</html>